start = "bash start.sh"
modules = ["nodejs-20", "go-1.21"]


[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 25463
externalPort = 8000

[[ports]]
localPort = 26041
externalPort = 3002

[nix]
channel = "stable-25_05"
packages = [
  "lsof",
  "vim-full",
  "chromium",
  "chromedriver",
  "nss",
  "alsa-lib",
  "at-spi2-atk",
  "gtk3",
  "mesa",
  "xorg.libX11",
  "xorg.libxcb",
  "xorg.libXScrnSaver",
  "cacert",
  "liberation_ttf",
  "xdg-utils",
]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Cline Services"

[[workflows.workflow]]
name = "Cline Services"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start-cline-replit.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

# [deployment]
# deploymentTarget = "vm"
# run = ["bash", "start-cline-production.sh"]

# deploymentTarget = "autoscale"
# build = ["npm", "run", "build"]
# run = ["bash", "start-cline-production.sh"]

[deployment]
deploymentTarget = "autoscale"
build = [
  "bash",
  "-c",
  "cd webview-ui && npm install && PLATFORM=standalone NODE_ENV=production npm run build",
]
run = ["bash", "start-cline-production.sh"]
